<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.timetable/menu.application" insertBefore="administration">
        <item screen="Audience.browse" caption="msg://com.company.timetable.screen.audience/audienceBrowse.menu"/>
        <item screen="Teacher.browse" caption="msg://com.company.timetable.screen.teacher/teacherBrowse.menu"/>
        <item screen="Student.browse" caption="msg://com.company.timetable.screen.student/studentBrowse.menu"/>
        <item screen="Group_.browse" caption="msg://com.company.timetable.screen.group/groupBrowse.menu"/>
        <item screen="Occupation.browse" caption="msg://com.company.timetable.screen.occupation/occupationBrowse.menu"/>
    </menu>
    <menu id="administration">
        <item screen="User.browse" caption="msg://com.company.timetable.screen.user/UserBrowse.caption" insertBefore="ui_JmxConsoleScreen"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption" insertBefore="ui_JmxConsoleScreen"/>
    </menu>


</menu-config>